* {
  box-sizing: border-box;
}

:root {
  --invalid-text-color: rgb(177, 59, 69);
  --invalid-border-color: rgba(177, 59, 69, 0.2);
  --invalid-background-color: rgba(255, 192, 203, 0.493);
  --valid-text-color: rgb(51, 173, 51);
  --minimum-width: 600px;
}

.form {
  min-width: var(--minimum-width);
  width: 85%;
}
